// Base styles for rest of site

// Background colour variation on certain panels
#team,
#picnic,
#weather, #weather--graphs,
#years-release,
#vintage-report,
#celebrating {
  background-color: $off-white;
}

// Navigation
.navigation {
  background-color: $dark-gray;
  display: none;
  @include bp(md) {
    display: block;
  }
}
.mm-site-link {
  a {
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        color: $white;
    }
  }
}
.nav-menu {
  h3 {
    margin-top: 0;
    color: $light-gray;
    font-family: $font__main;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font__display;
    color: $white;
    @include font-size(18);
    &:hover,
    &:focus,
    &:active {
      color: $light-gray;
    }
  }
}

// Text Container - 3 col
.text__col--basic {
  @include bp(md) {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
    -moz-column-gap: 2em;
    -webkit-column-gap: 2em;
    column-gap: 2em;
  }
}
.text__col,
.text__col--basic,
.text__col--2-img {
  img {
    margin-bottom: $spacer;
  }
}
.text--grid {
  .text__col {
    @include span(12);
    @include bp(md) {
      @include span(4);
    }
  }
  .text__col--2 {
    @include span(12);
    @include bp(md) {
      @include span(8);
      -webkit-columns: 2;
      -moz-columns: 2;
      columns: 2;
      -moz-column-gap: 2em;
      -webkit-column-gap: 2em;
      column-gap: 2em;
    }
  }
  .text__col--2-img {
    @include span(12);
    @include bp(md) {
      @include span(8);
    }
  }
  .text__col--half {
    @include span(12);
    @include bp(md) {
      @include span(6);
    }
  }
}
.text__col,
.text__col--basic,
.text__col--2-img,
.text__col--half {
  margin-bottom: $spacer*1.5;
  &:last-child {
    margin-bottom: 0;
  }
  @include bp(md) {
    margin-bottom: 0;
  }
}
// Hero Panel - single image + caption
.hero {}
.hero__caption {
  position: absolute;
  color: $white;
  font-style: italic;
  margin: 0;
}
.hero__caption--tl {
  // top left
  top: 20px;
  left: 20px;
}
.hero__caption--tr {
  // top right
  top: 20px;
  right: 20px;
}
.hero__caption--bl {
  // bottom left
  bottom: 20px;
  left: 20px;
}
.hero__caption--br {
  // bottom right
  bottom: 20px;
  right: 20px;
}

.hero__blurb-social {
  padding: 20px;
  background-color: $off-white;
  @include bp(md) {
    @include span(6);
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    p {
      color: $white;
      @include font-size(20);
    }
  }
  @include bp(lg) {
    @include span(4);
    top: 40px;
    right: 40px;
    p {
      @include font-size(22);
    }
  }
}


// Images
.winery-award {
  float: left;
  width: 180px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.vintage-bottle-img {
  max-width: 320px;
}



// Footer Section
.action-buttons {
  padding: 20px;
}

a.action-btn {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: $dark-gray;
  padding: $spacer*2;
  margin-bottom: $spacer;
  @include bp(md) {
    width: 49%;
    float: left;
    margin-right: 2%;
    margin-bottom: 0;
    &:last-child {
        margin-right: 0;
    }
  }
  @include bp(lg) {
    padding: $spacer*2.5;
  }
  &:visited {
    background-color: $dark-gray;
  }
  &:hover,
  &:focus,
  &:active {
    color: $dark-gray;
    background-color: $light-gray;
  }
}

.footer {
  background-color: $bronze;
  padding: 50px 20px;
  @include bp(md) {
    padding: 140px 20px 30px;
  }
}

.footer__est {
  width: 130px;
  position: relative;
  left: -10px;
  margin-bottom: $spacer*1.5;
  @include bp(md) {
    float: left;
    margin-bottom: 0;
  }
}

.footer__contact {
  @include bp(md) {
    float: right;
    margin-right: 50px;
  }
  @include bp(lg) {
    margin-right: 85px;
  }
}