// --- LAYOUT ---

.panel {
  position: relative;
  overflow: hidden;
  padding: 20px;
  @include bp(md) {
    padding: 50px 50px;
  }
  @include bp(lg) {
    padding: 50px 150px;
  }
}

// .text and .text--grid vary due to gutters
.text {
  padding: 20px;
  @include bp(md) {
    padding: 50px 34px;
  }
  @include bp(lg) {
    padding: 50px 134px;
  }
}
.text--grid {
  overflow: hidden;
  padding: 20px 4px;
  @include bp(md) {
    padding: 50px 18px;
  }
  @include bp(lg) {
    padding: 50px 118px;
  }
}
.hero, .welcome {
  padding: 0;
}