// --- TYPOGRAPHY ---

// Base
body,
button,
input,
select,
textarea {
  color: $color__text;
  font-family: $font__main;
  @include font-size(16);
  line-height: $font__line-height;
}

// Headings
h1, h2, h3, h4, h5, h6 {
    @include font-size(16); // sets all headings to same size initially
    font-weight: normal;
    font-family: $font__display;
}

// Copy
p {
    margin-bottom: $spacer;
    margin-top: 0;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    color: $dark-gray;
}
p, ul, ol {
    @include font-size(16);
}

ul, ol {
  margin-top: 0;
  margin-left: 0;
  padding-left: $spacer;
}
li {
  margin-bottom: $spacer/2.5;
}

strong, b {
    font-weight: normal;
    color: $bronze;
}
dfn, cite, em, i {
    font-style: $font--italic;
}

// Text Sections
.section-headings {
  color: $bronze;
  font-size: 1.1em;
  margin: 0 0 10px 0;
  font-weight: normal;
  text-transform: uppercase;
  font-family: $font__main;
}
.section-headings--graphs {
  margin-bottom: $spacer*1.5;
}

.decade__intro {
  margin-top: 12px;
  margin-bottom: $spacer*2.3;
}
.decades__title {
  color: $bronze;
  @include font-size(60);
  margin-top: 0;
  margin-bottom: $spacer*3;
  display: inline-block;
  border-bottom: 5px solid $bronze;
}

.graph-caption,
.image-caption {
  color: $light-gray;
}
.vintage-caption {
  color: $light-gray;
  @include font-size(14);
  text-transform: uppercase;
}
.pullquote {
  color: $bronze;
  @include font-size(22);
}

.signature {
  width: 260px;
  display: block;
  margin: 0 auto;
}
.signature-text {
  text-align: center;
  position: relative;
  top: -8px;
}

.footer__contact {
  p {
    margin-bottom: 0;
    color: $white;
    @include font-size(14);
  }
  a {
    color: $white;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      color: $light-gray;
    }
  }
}